<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>xyz.hanks.spider</string>
	<key>Program</key>
	<string>/Users/youliangzhang/run.sh</string>
	<key>StandardErrorPath</key>
	<string>/usr/local/var/log/spider-run-err.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>10</integer>
		<key>Minute</key>
		<integer>33</integer>
	</dict>
</dict>
</plist>
